<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mina" />
    <meta name="viewport" content="width=device-width, 
    minimum-scale=1.0, maximum-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="../js/isotope.pkgd.js"></script>
    <script src="../js/storage-helper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>

    <script src="socket.io/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/4191eec88b.js" crossorigin="anonymous"></script>
    <title>Soundboard</title>
</head>

<body>
    <nav>
        <div class="topnav" id="myTopnav">
            <a href="/" class="active menu">Home</a>
            <a href="/upload" class="menu">Upload</a>
            <div class="logged-in-user"></div>
            <div class="online-counter">
                <div class="kat"><img src="/img/kat-1.png" /></div>
                <div class="oog-links"><img src="/img/oog.png"></div>
                <div class="oog-rechts"><img src="/img/oog.png"></div>
                <p></p>
            </div>
            <div class="control-buttons" style="float: right; margin-right: 20px; margin-top: 10px; display: flex; gap: 10px;">
                <button id="show-hidden-toggle" class="control-btn" style="background: #6c757d; color: white; border: none; padding: 8px 15px; border-radius: 5px; cursor: pointer; font-size: 14px;">
                    <i class="fa-regular fa-eye-slash"></i>
                    <span id="show-hidden-text">Show Hidden</span>
                </button>
                <button id="discord-toggle" class="discord-btn" style="background: #5865F2; color: white; border: none; padding: 8px 15px; border-radius: 5px; cursor: pointer; font-size: 14px;">
                    <i class="fab fa-discord"></i>
                    <span id="discord-status-text">Discord: OFF</span>
                </button>
            </div>
            <div class="selector-menu">
                <div id="filters" class="button-group filters-button-group sort">
                </div>
            </div>
        </div>
    </nav>


    <div class="main">
        <div class="bgboem"><img src="/img/boem.png" alt=""></div>
        <input type="text" class="quicksearch" placeholder="zoek op naam of tag" /></input>

        <div class="message-box">
            <div class="message-title"></div>
            <div class="message-content"></div>
        </div>
        <div class="container-grid">
        </div>

    </div>
    </div>
    
    <% sounditems.forEach(function(sounditem) { %>
        <section>
            <audio class="<%= sounditem.class %>" 
                title="<%= sounditem.title %>"
                play_count="<%= sounditem.play_count %>" 
                id="<%= sounditem._id %>"
                search_tags="<%= sounditem.search_tags %>" 
                date_created="<%= sounditem.created_at %>" 
                sound_length="<%= sounditem.sound_length %>" 
                soundImage="<%= sounditem.soundImage %>" >

                <source src="/uploads/sounds/<%= sounditem.audio_file %>" />
            </audio>
        </section>
        <% }); %>


    


        <script>
    
            $(function () {
                var socket = io();
                socket.on("inhoud", function (data) {
                    //console.log(data.counter);
                    //$("ul#doc li#" + data.id + " .playCount").text("#: " + data.counter).animate({ "font-size": "1.5rem" }, 100).animate({ "font-size": "1rem" }, 200);
                    $(".card#" + data.id + " .sound-count").text("#: " + data.counter).animate({ "font-size": "2.0rem" }, 100).animate({ "font-size": "0.9rem" }, 200);
                });
                socket.on("users", function (userCounter) {
                    //console.log(userCounter);
                    $(".online-counter p").text(userCounter);
                });
                socket.on("message", function (data) {
                    //console.log(data);
                    $('.message-title').text(
                        data.type )
                    $('.message-content').text(
                        data.bericht )

                    $('.message-box').animate({
                        top: '0px'
                    }).delay(data.duration).animate({
                        top: '-110px'
                    });
                })
        
            });

        
            $('')
            function linksAan(dataIn, dataDuration) {
                $.post("/update", { "id": dataIn });
                 $(".card#" + dataIn + " .progress").delay(2000).css(
                       "left",
                       "-350px");                  
                    $(".card#" + dataIn + " .duration-counter").css("visibility", "hidden");
                    $(".card#" + dataIn + " .sound-timer").css("visibility","visible");
                    $(".oog-links").animate({right: '83px'});
                    $(".oog-rechts").animate({right: '68px'});
            }
        

        </script>
        <script src="js/script.js "></script>

    
        <script>
            $(document).ready(function () {
                
                var buttonFilters = {};
                var buttonFilter;
                // quick search regex
                var qsRegex;
    
                // init Isotope
                var $grid = $('.container-grid').isotope({
                    itemSelector: '.card',
                    filter: function () {
                        var $this = $(this);
                        var searchResult = qsRegex ? $this.text().match(qsRegex) : true;
                        var buttonResult = buttonFilter ? $this.is(buttonFilter) : true;
                        return searchResult && buttonResult;
                    },
                    masonry: {
                        fitWidth: true
                        }
                });

    
    
                
    
                // use value of search field to filter
                var $quicksearch = $('.quicksearch').keyup(debounce(function () {
                    qsRegex = new RegExp($quicksearch.val(), 'gi');
                    $grid.isotope();
                }));
    
    

    
                // flatten object by concatting values
                function concatValues(obj) {
                    var value = '';
                    for (var prop in obj) {
                        value += obj[prop];
                    }
                    return value;
                }
    
    
                // debounce so filtering doesn't happen every millisecond
                function debounce(fn, threshold) {
                    var timeout;
                    threshold = threshold || 100;
                    return function debounced() {
                        clearTimeout(timeout);
                        var args = arguments;
                        var _this = this;
                        function delayed() {
                            fn.apply(_this, args);
                        }
                        timeout = setTimeout(delayed, threshold);
                    };
                }
    
                    function checkResponses(){
                        var sections = $("section").length
                        if  (sections >= 2) {
                            console.log("meerdere")
                        }
                        else {
                        $("audio").get(0).play()
                        console.log("enkel")
                        }
                    }
                    checkResponses()
    
            })
            

        </script>
    <input type="text" class="hibbem"></input>    
       
    </body>
    